@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7
$red = #e51c23
$green = #8bc34a
$blue = #5677fc
$orange = #ffc107
$bg = #5eb388

$container-padding = 50px
$container-padding-small = 10px
$container-padding-xsmall = 0px

$outer-container-border-width = 10px
$inner-container-border-width = 15px

$media-small = "screen and (max-width: 600px)"
$media-xsmall = "screen and (max-width: 400px)"

@import 'header'
@import 'notification'
@import 'box'

*
	box-sizing border-box

html
button
input
select
textarea
	color $black

a
a:visited
	color $linkColor
	text-decoration none

a:hover
	color lighten($linkColor,10%)

body
	font-family 'Open Sans', sans-serif
	color $black
	font-size 1em
	line-height 1.5
	background $bg

.container
	width 100%
	padding $container-padding
	margin 0 auto

	&.container--outer
		max-width 960px
		padding $container-padding + $outer-container-border-width
		background-image url(../images/pattern.png)
		background-position 50%
		background-repeat no-repeat
		background-size cover

		&.hovering
			padding $container-padding
			border $outer-container-border-width solid black

	&.container--inner
		background #eaeaea
		padding $container-padding + $inner-container-border-width

		&.hovering
			padding $container-padding
			border $inner-container-border-width solid black

	@media $media-small
		padding $container-padding-small

		&.container--outer
			padding $container-padding-small + $outer-container-border-width

			&.hovering
				padding $container-padding-small

		&.container--inner
			padding $container-padding-small + $inner-container-border-width

			&.hovering
				padding: $container-padding-small

	@media $media-xsmall
		padding $container-padding-xsmall

		&.container--outer
			padding $container-padding-xsmall + $outer-container-border-width

		&.hovering
			padding $container-padding-xsmall

		&.container--inner
			padding $container-padding-xsmall + $inner-container-border-width

		&.hovering
			padding: $container-padding-xsmall

.boxes
	list-style: none
	padding 0

.message
	text-align center
	display block
	cursor pointer
	text-transform uppercase
	letter-spacing 2px
	font-weight 600
	font-size .9rem
	color $white
